.HomeContainer{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   min-height: 100vh;
}

.HomeWrapper{
    width: fit-content;
    padding: 20px;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
   
    
}

.HomeList{
    margin: auto;
    width: fit-content;
}

.HomeListValue{
    margin-bottom: 10px;
}

.HomeList{
  overflow-y: scroll;
  height: 60vh;
}

.HomeList li {
     /* Adjust height as needed */
  
    display: flex;
    width: fit-content;
    align-items: top;
    flex-direction: column;
    overflow-x: hidden;
    margin-bottom: 4px;
    
  }

.HomeAllUsers{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #8B8CC7;
    padding: 11px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 1px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 1px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 1px 6px 0px rgba(0,0,0,0.75);
}

.preview{
    background-color: #464775;
}

.HomeAllUsers h1{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: gainsboro;
}

.HomeButton{
    padding: 10px 10px;
    color: #8B8CC7;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}


