.expenseSummaryContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px
}

.expenseSummaryWrapper{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    min-height: 90vh;
    background-color: #6264A7;
    width: 100%;
    border-radius: 10px;
    flex-wrap: wrap;
    gap: 20px;
}

.expenseSummaryList{
    height: 70vh;
    overflow-y: scroll;
}

.expenseSummaryLists{
    display: flex;
    border: 1px solid white;
    flex-direction: column;
    gap: 25px;
    color: gainsboro;
    padding: 10px;
    border-radius: 10px;
    background-color: #8B8CC7;
}

.expenseGroupExpenditureSummary{
    width: fit-content;
    border: 1px solid white;
    background-color: #8B8CC7;
    height: 70vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    overflow-y: scroll;
    
}

.expenseGroupExpenditureSummary h4{
    color: gainsboro;
    font-size: 24px;
}

.expenseGroupExpenditureSummaryUser{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #6264A7;

}

.expenseGroupExpenditureSummaryUserDetails{
    display: flex;
    align-items: center;
    gap: 20px;
    color: gainsboro;
}

.expenseGroupExpenditureSummaryUserExpense{
    color: gainsboro;
}
