.ExpenseGroupContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 10px;
    min-height: 100vh;
   

    
}

.ExpenseGroupWrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ExpenseGroupList{
    width: fit-content;
    background-color: #8B8CC7;
    padding: 20px;
    height: fit-content;
    border-radius: 10px;
    -webkit-box-shadow: 3px 1px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 1px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 1px 14px 0px #8B8CC7;
}

.addition{
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: top;
}


.ExpenseGroupTitle{
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: gainsboro;
    margin-bottom: 30px;
}

.ExpenseGroupListInput{
    padding: 15px;
    background-color: white;
    width: 95%;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.ExpenseGroupListUl,ExpenseGroupListUl1{
    overflow-y: scroll;
    max-height: 40vh;
    margin-top: 10px;
    width: 100%;
}





.ExpenseGroupListUl li {


    

  }

.ExpenseGroup{
    width: 70% !important;
}

.ExpenseGroupLists{
    display: flex;
    flex: 2;
    padding: 10px;
    padding-right: 20px;
    
}

.ExpenseGroupTitle h4{
    font-weight: 500;
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}

.favDetails{
    flex: 0.7;
    color: #8B8CC7;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #464775;
    height: calc(100vh - 50px);
    border-radius: 10px;
    -webkit-box-shadow: 3px 1px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 1px 6px 0px rgba(0,0,0,0.75);
box-shadow: 3px 1px 6px 0px #8B8CC7;
}

.favDetailsWrapper{
    background-color: gainsboro;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.ExpenseListWrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    
}

.favDetailsTitle{
    font-size: 24px;
    font-weight: bold;
}

.ExpenseGroupList h4{
    font-weight: 500;
    color: gainsboro;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.ExpenseGroupSubmit{
   background-color: white;
   color: #464775;
   padding: 10px;
   width: 95%;
   border: none;
   border-radius: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   font-weight: bold;
   font-size: 18px;
}

